<h2  class="blink"> 
  Infos über mich!
</h2>

<p>Ich heiße {{name}} und ich wohne in {{stadt}}</p>

<img src="img1.jpg" alt="Profilbild" style="height: 200px;">

<p>Meine Hobbies sind:</p>
<ul>
  {{#each hobbies}}
  <li>{{this}}</li>
  {{/each}}
</ul>